.question{
    text-align: center;
    font-family: 'Open Sans';
    font-weight: lighter;
}

#message{
    width: 50%;
    height: 250px;
    margin-left: 5px;
    overflow: hidden;
    margin-top: 10px;
    
}

::-webkit-input-placeholder {
    font-family: 'Open Sans';
    
}
    
#submit{
    margin-left: 5px;
    bottom: 10px;
    position: relative;
    left: 0px;
    top: 20px;
    
}

#comments{
    font-family: 'Open Sans';
    display: inline-block;
    word-wrap: break-word;
    width: 1225px;
    margin-bottom: 0px;
}








