.question{
    text-align: center;
    font-family: 'Open Sans';
    font-weight: lighter;
}

#message{
    width: 50%;
    height: 250px;
    margin-left: 5px;
    overflow: hidden;
    
}

::-webkit-input-placeholder {
    font-family: 'Open Sans';
    
}
    
#submit{
    margin-left: 5px;
    bottom: 10px;
    position: relative;
    left: 2px;
    
}

#comments{
    font-family: 'Open Sans';
    display: block;
    margin-left: 650px;
    word-wrap: break-word;
}






